.App {
  text-align: center;
  background-image:url(https://media.istockphoto.com/photos/young-man-reading-a-book-hand-close-up-picture-id1165926191?k=20&m=1165926191&s=612x612&w=0&h=TIj9wLCLqIahT-AQAmKCoZze5CPrjBI3S_hVVGhfyGQ=);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
